html{
    height: 100%;
    box-sizing: border-box;
  }
body{
    position: relative;
    margin: 1;
    padding-bottom: 3px;
    padding-left: 10px;
    min-height: 100%;
    background-color:#00FF7F;/*SpringGreen*/
  }
  ul{
    list-style: none;
  }
  #container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    background-color:#4682B4;/*SteelBlue*/
    border-radius: 10px;
  }
  #container > div {
    background-color: #F5F5F5;/*WhiteSmoke*/
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 15%;
    box-shadow: 5px 5px 5px;

  }
  #blocks{
    color:	#000000;/*Black*/
    display: flex;
    align-items: center;
  }
  li{
    color:	#000000;/*Black*/
  }

  footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }
  footer ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0; 
}
footer li{
  font-family: "daniel", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
@media screen and (min-width: 600px) {
  footer li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 25px;
    font-size: 1.2em;
    display: inline-block;
    margin-right: -4px;
  }
}