html{
    height: 100%;
    box-sizing: border-box;
  }
body{
    position: relative;
    margin: 1;
    padding-bottom: 3px;
    padding-left: 10px;
    min-height: 100%;
    background-color:#00FF7F;/*SpringGreen*/
  }
  #container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#4682B4;/*SteelBlue*/
    border-radius: 10px;
  }
  #container > div {
    background-color: #F5F5F5;/*WhiteSmoke*/
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 15%;
    box-shadow: 5px 5px 5px;

  }
  h2{
    color:	#000000;/*Black*/
  }
  li{
    color:	#000000;/*Black*/
  }