html{
    height: 100%;
    box-sizing: border-box;
  }
body{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-left: 10px;
    min-height: 100%;
    background-color:#F08080;/*LightCoral*/
  }

  header > #bubble {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    background-color:#DC143C;/*Crimson*/
    border-radius: 10px;
  }
  ul{
    list-style: none;
  }
  #container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    background-color:#FFDAB9;/*PeachPuff*/
    border-radius: 10px;
  }
  #container > div {
    background-color: #F5F5F5;/*WhiteSmoke*/
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 15%;

  }
  #blocks{
    color:	#000000;/*Black*/
    display: flex;
    align-items: center;
  }
  li{
    color:	#000000;/*Black*/
  }
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
footer{
    background-color: #E0FFFF;/* LightCyan  */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}
#bfnav ul{
  list-style: none;
  background-color: #E0FFFF;/* LightCyan  */
  text-align: center;
  padding: 0;
  margin: 0; 
  word-spacing: value;
}
#bfnav li{
  font-family: "daniel", sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid;
  word-spacing: normal;
}

#bfnav a {
  text-decoration: none;
  color: #000000;
  display: block;
  transition: .3s background-color;
}
#bfnav a:hover {
  background-color: #AFEEEE;/* PaleTurquoise  */
}

#bfnav a.active {
  background-color:#AFEEEE;/* PaleTurquoise  */
  color: #AFEEEE;/* PaleTurquoise  */
  cursor: default;
}
@media screen and (min-width: 600px) {
  #bfnav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
}